html {
  background: white;
}

body {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  font-family: Lato;
  background: #233651;
  min-height: 100%;
  border: 1px solid black;
  border-width: 0 1px;
  box-shadow: 0 0 50px 5px gray;
}

body > header h1, h2 {
  font-family: "Eagle Lake";
  margin: 0;
}

body > header h1 {
  font-size: 250%;
}

body > header h2 {
  font-size: 110%;
  text-indent: 2em;
  margin-bottom: 1em;
  color: #FFF2E7;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lustria;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: rgb(100,180,230);
}

a:hover {
  color: rgb(80,140,200);
}
