body {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  font-family: Lato;
  background: white;
  min-height: 100%;
  border: 1px solid black;
  border-width: 0 1px;
  box-shadow: 0 0 50px 5px gray;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lustria;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: rgb(100,180,230);
}

a:hover {
  color: rgb(80,140,200);
}


/* ============================== */


.gh-weblog textarea {
  clear: both;
  font-family: Lato;
  font-size: 1em;
  width: 100%;
  min-height: 20em;
}

.gh-weblog code {
  background: #ECECEC;
  padding: 0px 5px;
}

.gh-weblog pre code {
  background: inherit;
  padding: 0;
}

.gh-weblog pre {
  background: #EFEDD8;
  margin: 0 1em;
  padding: 0.5em;
  color: #180E65;
}

.gh-weblog table {
  background: #F0EFE9;
}

.gh-weblog table thead {
  background: #EFEDD8;
}

.gh-weblog table tbody tr:nth-child(2n) {
  background: #E5E5E5;
}

.gh-weblog .entry {
  border-bottom: 1px solid black;
}
