<div class="weblog entry{% if pending %} pending{% endif %} needstoken" id="gh-weblog-{{ published}}">
	<div class="info">
    <a href="#gh-weblog-{{ published}}">
      <span>originally published: {{ published | readableDate }}</span>
      <span>last updated: {{ updated | readableDate }}</span>
    </a>
    <button class="needstoken" onclick="window['gh-weblog'].removeEntry({{ published }})">Remove entry</button>
  </div>
  <div>
    <div class="content" data-prefix="{{ published | shortDate }}" onclick="window['gh-weblog'].editEntry({{ published }})">{{ content }}</div>
    <div class="tags">{% if tags %}
      {{ tags | join(", ") }}
    {% endif %}</div>
    <textarea class="hidden original content" onblur="window['gh-weblog'].updateEntry({{ published }}, this)">{{ content }}</textarea>
  </div>
</div>
