#gh-weblog-container .entries {
  padding: 1em;
}

#gh-weblog-container .entries .entry {
  padding: 1em;
}

#gh-weblog-container .entries .entry .tags {
  float: right;
  font-size: 80%;
}

#gh-weblog-container .entries .entry.pending {
  background: rgba(255,255,0,0.3);
}

#gh-weblog-container .entries .info {
	background: rgb(165, 185, 192);
  color: white;
  padding: 0 1em;
}

#gh-weblog-container .entries .info span {
  margin-right: 2em;
}

#gh-weblog-container .entries .content:before {
  float: right;
  content: "published on " attr(data-prefix);
  font-style: italic;
  margin: 0 0 0.5em 0.5em;
}

#gh-weblog-container .entries .original.content {
  display: block;
  width: 100%;
  min-height: 200px;
}

#gh-weblog-container .entries .hidden {
  display: none!important;
}

#gh-weblog-container .entries .info a,
#gh-weblog-container .entries .info a:active,
#gh-weblog-container .entries .info a:hover,
#gh-weblog-container .entries .info a:visited {
  text-decoration: none;
  color: white;
}

#gh-weblog-container .entries .info a:hover {
  color: rgb(80, 109, 137);
}

.default button.needstoken {
  display: none!important;
}

button.credentials {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: inherit;
  color: transparent;
  border: 1px dashed rgba(0,0,0,0.6);
  vertical-align: 1em;
  border-radius: 100%;
}

button.credentials:hover {
  height: auto;
  width: auto;
  background: inherit;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -1px;
}
